@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 10px;
    font-size: 1.6rem;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-weight: normal;
    line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0;
}

a {
    text-decoration: none;
}

code {
    font-size: 1.5rem;
    padding: 2px 4px;
    color: #c7254e;
    border-radius: 2px;
    background-color: #f2f2f2;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
    overflow: auto;
}

pre code {
    line-height: 2rem;
    border-radius: 2px;
    margin: 2rem 0;
    /* border-left: 5px solid #aaa; */
    overflow: auto;
}
